/* ELEMENTS */

a {
    text-decoration: underline;     
}

/* IDS */

#main-spread {
    height: 69.5vh;
    width: 100%; /*80VW*/
}

#hostBanner {
    position: fixed;
    top: 0px;
    left: 0px;
    transform: rotate(-90deg);
}

/* CLASSES */

.is-fixed {
    position: fixed;
}

.has-background-color-dark-orange {
    background-color: DarkOrange;
}

.has-background-color-dark-orange-inverted {
    background-color:  invert(DarkOrange);
}

.has-text-color-dark-orange {
    color: darkorange;
}

.is-2525 {
    height: 25vh;
    width: 25vw;
}

.has-half-width {
    width: 50vw;
}

.has-half-height {
    width: 50vh;
}

/* OTHER */

.image > img[alt="QR Code"] {
    left: 15vw;
}

/* MOBILE */