/* ELEMENTS */

body {
    background-color: #f1f1f1 !important;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:not(section#footer) a {
    color: #4183c4;
    text-decoration: none;
}

:not(section#footer) a:hover {
    text-decoration: underline;
}

:not(section#footer) h1 {
    width: 800px;
    position: relative;
    left: -100px;
    letter-spacing: -1px;
    line-height: 60px;
    font-size: 60px;
    font-weight: 100;
    margin: 0px 0 50px 0;
    text-shadow: 0 1px 0 #fff;
}

:not(section#footer) p {
    color: rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    line-height: 1.6;
}

:not(section#footer) ul {
    list-style: none;
    margin: 25px 0;
    padding: 0;
}

:not(section#footer) li {
    display: table-cell;
    font-weight: bold;
    width: 1%;
}

/* IDS */

:not(section#footer) #suggestions {
    margin-top: 35px;
    color: #ccc;
}

:not(section#footer) #suggestions a {
    color: #666666;
    font-weight: 200;
    font-size: 14px;
    margin: 0 10px;
}

/* CLASSES */

:not(section#footer) .container {
    margin: 50px auto 40px auto;
    width: 600px;
    text-align: center;
}

:not(section#footer) .logo {
    display: inline-block;
    margin-top: 35px;
}

.logo-img-2x {
    display: none;
}

/* MOBILE */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .logo-img-1x {
        display: none;
    }

    .logo-img-2x {
        display: inline-block;
    }

}